.main {
  overflow: hidden;
  color: var(--dark-blue);
}
 
.name{
  background: linear-gradient(90deg, #3da9fc, #1e40af);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.scroll-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  animation: float 2s ease-in-out infinite;
}

 

/* Floating animation */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@media (max-width: 1400px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
