.main {
  overflow: hidden;
  color: var(--dark-blue);
}


.scroll-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  animation: float 2s ease-in-out infinite;
}
.homeMobile {
  display: none;
}
.homeDesktop {
  display: block;
}

/* Floating animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .homeMobile {
    display: block;
  }
  .homeDesktop {
    display: none;
  }
}

@media (max-width: 576px) {
}
